<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Set Test | CBEasy</title>
        <link href="/css/tailwind.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Titillium+Web" rel="stylesheet">
    </head>
    <body class="bg-brown1">
        <div class="grid grid-cols-2">
            <div class="font-['Trebuchet MS']">
                <h2 class="p-3 lg:p-3 font-bold text-3xl tracking-tight">
                    <b class="text-brown4">C</b>
                    <b class="text-red-400">B</b>
                    Easy
                </h2>
            </div>
        </div>

        <div class="bg-[#facea2] w-full grid px-6 sm:px-14 lg:px-0">
            <div class="w-3/5 md:w-4/5 mx-5 my-4">
                <form class="flex flex-col w-full space-y-4 justify-items-center">
                    <div class="lg:flex">
                        <label class="my-4 text-lg lg:text-xl lg:w-1/6" for="test_name">Title</label>
                        <input type="text" id="test_name" name="exam_name" class="hover:outline text-lg lg:text-2xl h-9 lg:h-14 border-1 border-dark1 rounded-sm w-full lg:w-3/4">
                    </div>
                    <div class="lg:flex">
                        <label class="my-4 text-lg lg:text-xl lg:w-1/6" for="test_file">Test File</label>
                        <input type="file" id="test_file" name="exam_file" accept=".txt" class="lg:h-14 h-9">
                    </div>
                    <div class="lg:flex">
                        <label class="my-4 text-lg lg:text-xl lg:w-1/6" for="final_score">Final Score</label>
                        <input type="text" id="final_score" name="score" class="hover:outline text-lg lg:text-2xl h-9 lg:h-14 border-1 border-dark1 rounded-sm w-full lg:w-3/4">
                    </div>
                    <div class="lg:flex">
                        <label class="my-4 text-lg lg:text-xl lg:w-1/6" for="test_date">Date</label>
                        <input type="date" id="test_date" name="exam_date" class="hover:outline text-lg lg:text-2xl h-9 lg:h-14 border-1 border-dark1 rounded-sm w-full lg:w-3/4">
                    </div>
                    <div class="lg:flex">
                        <label class="my-4 text-lg lg:text-xl lg:w-1/6" for="exam_start_time">Start Time</label>
                        <input type="time" id="exam_start_time" name="exam_start_time" class="hover:outline text-lg lg:text-2xl h-9 lg:h-14 border-1 border-dark1 rounded-sm w-full lg:w-3/4">
                    </div>
                    <div class="lg:flex">
                        <label class="my-4 text-lg lg:text-xl lg:w-1/6" for="exam_dur">Duration</label>
                        <input type="time" id="exam_dur" name="exam_dur" class="hover:outline text-lg lg:text-2xl h-9 lg:h-14 border-1 border-dark1 rounded-sm w-full lg:w-3/4">
                    </div>
                    <div class="lg:flex">
                        <label class="my-4 text-lg lg:text-xl lg:w-1/6" for="test_instructions">Instructions</label>
                        <input type="text" id="test_instructions" name="test_instructions" class="hover:outline text-lg lg:text-2xl h-9 lg:h-14 border-1 border-dark1 rounded-sm w-full lg:w-3/4">
                    </div>
                    <div class="flex flex-row-reverse mt-6 lg:mt-0 sm:mt-8 lg:w-11/12">
                        <input type="submit" value="Submit" class="hover:-translate-y-0.5 bg-brown4 hover:bg-brown3 inline-block px-5 py-3 rounded-lg uppercase tracking-wider font-semibold text-sm text-white shadow-lg sm:text-base">
                    </div>
                </form>
            </div>
        </div>
        
    </body>
</html>
