<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CBEasy</title>
        <link href="/css/tailwind.css" rel="stylesheet">
    </head>
    <body class="bg-brown1">
        <header class="sticky grid grid-cols-2 mx-6 md:mx-24 lg:mx-6">
            <div class="font-['Trebuchet MS']">
                <h2 class="p-2 lg:p-3 font-bold text-xl sm:text-2xl tracking-tight">
                    <b class="text-brown4">C</b>
                    <b class="text-red-400">B</b>
                    Easy
                </h2>
            </div>
            <div class="lg:hidden relative bg-brown1">
                <span id="menu" class="absolute top-2 right-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 stroke-2" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                    </svg>
                </span>
            </div>
        </header>

        <div class="p-4 grid lg:grid-rows-6 lg:grid-flow-col">
            <div class="hidden lg:block lg:row-span-6 bg-brown2 flex lg:grid p-3 md:space-x-10 lg:-space-x-1 justify-center">
                <div class="p-2 lg:p-0 text-base lg:text-xl font-medium lg:font-semibold uppercase">
                    <h4>Title</h4>
                    <h4>Student ID</h4>
                    <h4>Student Name</h4>
                    <h4>Duration</h4>
                </div>
                <nav class="mt-4 grid grid-cols-5 gap-2 text-base lg:text-xl lg:mt-5 xl:mt-10">
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">01</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">02</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">03</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">04</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">05</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">06</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">07</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">08</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">09</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">10</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">11</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">12</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">13</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">14</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">15</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">16</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">17</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">18</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">19</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">20</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">21</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">22</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">23</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">24</div>
                    <div class="p-1 sm:p-3 xl:p-3 bg-red-400 rounded-md shadow-md text-center hover:bg-red-700 hover:text-white cursor-pointer">25</div>
                </nav>
                <button class="hidden lg:block uppercase p-2 text-base lg:text-xl border-2 border-slate-700 lg:mt-10 xl:mt-20 hover:bg-slate-700 hover:text-white">
                    Submit
                </button>
            </div>
            <div class="bg-brown3 lg:col-span-5 lg:row-span-6 space-y-10 border-y ">
                <div class="w-full border-b border-dark1">
                    <span class="text-semibold text-base lg:text-lg p-3 font-semibold">Question 10 of 25</span>
                </div>
                <div class="text-base lg:text-2xl text-semibold p-3 mt-7">
                    A small handcart, one wheel and tire shafts used for moving farm crop material is ___
                </div>

                <div class="flex justify-center mt-10">
                    <section class="grid grid-cols-2 p-3 min-w-min gap-6 items-center">
                        <div class="flex border border-dark1 max-w-prose cursor-pointer hover:shadow-lg">
                            <div class="text-lg lg:text-2xl font-semibold border-r border-dark1 p-2 md:p-3 lg:p-4">A</div>
                            <p class="text-sm md:text-base lg:text-xl p-3">cup</p>
                        </div>
                        <div class="flex border border-dark1 max-w-prose cursor-pointer hover:shadow-lg">
                            <div class="text-lg lg:text-2xl font-semibold border-r border-dark1 p-2 md:p-3 lg:p-4">B</div>
                            <p class="text-sm md:text-base lg:text-xl p-3">wheelbarrow</p>
                        </div>
                        <div class="flex border border-dark1 max-w-prose cursor-pointer hover:shadow-lg">
                            <div class="text-lg lg:text-2xl font-semibold border-r border-dark1 p-2 md:p-3 lg:p-4">C</div>
                            <p class="text-sm md:text-base lg:text-xl p-3">kettle</p>
                        </div>
                        <div class="flex border border-dark1 max-w-prose cursor-pointer hover:shadow-lg">
                            <div class="text-lg lg:text-2xl font-semibold border-r border-dark1 p-2 md:p-3 lg:p-4">D</div>
                            <p class="text-sm md:text-base lg:text-xl p-3">is any instrument held in the hand and used for work on the Farm</p>
                        </div>
                    </section>
                </div>
                
            </div>
        </div>

        <script>
        </script>
    </body>
</html>
