{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | CBEasy</title>
    <link href="{% static 'myApp/style.css' %}" rel="stylesheet">
</head>
    <body {% block bg %}class="bg-brown1" {% endblock %}>
        {% block taketest %}
            <div class="grid grid-cols-2">
                <div class="font-['Trebuchet MS']">
                    <h2 class="p-3 lg:p-3 font-bold text-3xl tracking-tight">
                        <b class="text-brown4">C</b>
                        <b class="text-red-400">B</b>
                        Easy
                    </h2>
                </div>
            </div>
        {% endblock %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
